/target
.idea
cmake-build-debug
5-tree.txt
collins-head-tree.txt
collins-scrabble-2019-tree.txt
wc1
wc2
flamegraph.svg
flamegraph_s.svg
flamegraph_t.svg
g_2.txt
g_2-bin
g_2-tree.meta
g_2-tree.txt
g_4
perf.data
perf.data.old
perf_s.data
perf_t.data
5-bin
5-tree.meta
collins-scrabble-2019-tree.meta
test.txt
5.db